entrypoint = "server/index.ts"
run = "npm run dev"
modules = ["nodejs-20"]

[deployment]
build = ["sh", "-c", "npm install && npm run build"]
run = ["sh", "-c", "npm run replit:start"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 24678
externalPort = 3000
